@model SozialWebApplication.Models.ViewModels.NameCardViewModel

<div class="bc">
    @{
        ViewBag.Title = "Sozial";
    }

    <br />

    <div class="namecard-button">
        <a href="/Home/NewsfeedGroups/1">
            <img src="/Myndir/Logo.jpg" class="name-logo" alt="name-logo" />
        </a>

        <div class="my-name">
            @Html.ActionLink(@Html.ViewContext.HttpContext.User.Identity.Name, "OwnNameCard", "NameCards")
        </div>

        @using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = "/Account/Login" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Log Out" class="logout-button" />
            </div>
        }

    </div>

    <br />

    <div class="overflowceeper">
        <div class="feed-body">
            <div class="match-label">
                <h4 class="my-matches-label">My Matches</h4>
            </div>

                <table class=" my-matches">
                    <tbody>
                        @foreach (var item in Model.AllMatches)
                        {
                            <tr>
                                <td><img src="@item.ProfilePicture" class="profile-picture-match" alt="Profile picture"></td>

                                @if (item.FullName != null)
                                {
                                    <td class="name-match">@Html.ActionLink(item.FullName, "OthersNameCard", "NameCards", new { id = item.Id }, null)</td>
                                }

                                else
                                {
                                    <td class="name-match">@Html.ActionLink(item.UserName, "OthersNameCard", "NameCards", new { id = item.Id }, null)</td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
        </div>
    </div>

    <br />

</div>

