@model SozialWebApplication.Models.ViewModels.GroupViewModel

<div class="bc">
    @{
        ViewBag.Title = "Sozial";
    }

    <br />
    
    <div class="namecard-button">
        <a href="/Home/NewsfeedGroups/1">
            <img src="/Myndir/logo.jpg" class="name-logo" alt="name-logo" />
        </a>
        
        <div class="my-name">
            @Html.ActionLink(@Html.ViewContext.HttpContext.User.Identity.Name, "OwnNameCard", "NameCards")
        </div>

        @using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = "/Account/Login" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Log Out" class="logout-button" />
            </div>
        }

    </div>

    <br />

    <div class="overflowceeper">
        <div class="feed-body">
            @using SozialWebApplication.Services
            @using SozialWebApplication.Models.Entities

                <!--Add group to favorite or remove from favorite groups.-->
                <div class="add-favgroup">

                    @if (Model.GroupWithId.GroupName != "News Feed")
                    {
                        using (Html.BeginForm("NewsfeedGroups", "Home", FormMethod.Post))
                        {

                            if (!SozialWebApplication.Services.GroupService.Instance.IsUserInGroup(Model.GroupWithId.Id, User.Identity.Name))
                            {
                                <input type="hidden" name="hidden-groupId" value="@Model.GroupWithId.Id" />
                                <input type="hidden" name="hidden-favgroup" value="add-group" />
                                <input type="submit" value="" class="add-group" />
                            }
                            
                            else
                            {
                                <input type="hidden" name="hidden-groupId" value="@Model.GroupWithId.Id" />
                                <input type="hidden" name="hidden-favgroup" value="remove-group" />
                                <input type="submit" value="" class="remove-group" />
                            }

                        }
                    }
                </div>
        
            <div class="groupName">
                <p>@Model.GroupWithId.GroupName</p>
            </div>
           
            <!--Post-->
            @using (Html.BeginForm("NewsfeedGroups", "Home", FormMethod.Post))
            {
                <div class="newsfeed">
                    <div class="post">
                        <div class="post-logo-settings">
                            <input type="button" class="input-text" />
                            <input type="button" class="input-img" />
                            <input type="button" class="input-youtube" />
                        </div>
                        <div class="post-input-settings">
                            <input type="hidden" name="hidden-groupId" value="@Model.GroupWithId.Id" />
                            <input type="text" name="text-input" id="post-input" class="post-input" placeholder="Express yourself..." />
                            <input type="text" name="photo-input" id="photo-input" class="photo-input" placeholder="Copy photo url here..." />
                            <input type="text" name="video-input" id="video-input" class="video-input" placeholder="Copy YouTube video url here..." />
                        </div>
                    </div>
                </div>
                <input type="submit" value="Post" class="post-submit" />
            }

            <!--Display recent posts-->
            <div class="all-posts">
                @foreach (var post in Model.GroupPosts)
                {
                    <div class="whole-each-post">
                        <p class="post-name">@post.UserName</p>
                        <p class="post-date">@post.DateCreated</p>
            
                        <div class="each-post">
                            <div class="post-content">
                                @if (post.PostType == SozialWebApplication.Models.PostType.Text)
                                {
                                    <div class="post-size-settings-text">
                                        <p>@post.Body</p>
                                    </div>
                                }
                                else if (post.PostType == SozialWebApplication.Models.PostType.Photo)
                                {
                                    <div class="post-size-settings-photo">
                                        <img src="@post.Body" alt="Photo from @post.UserName" />
                                    </div>
                                }
                                else if (post.PostType == SozialWebApplication.Models.PostType.Video)
                                {
                                    string source ="https://www.youtube.com/embed/" + post.Body;
                                    <div class="post-size-settings-video">
                                         <iframe src="@source" frameborder="0"></iframe>
                                        
                                    </div>
                                }
                                
                            </div>
                             
                            <div class="like">
                                <!--Form for like button-->
                                @using (Html.BeginForm("NewsfeedGroups", "Home", FormMethod.Post))
                                {
                                    <input type="submit" value=" " class="like-img" />
                                    <div class="number-of-likes"><p>#@post.Like</p></div>
                                    <input type="hidden" name="hidden-groupId" value="@Model.GroupWithId.Id" />
                                    <input type="hidden" name="hidden-postId" value="@post.Id" />
                                    <input type="hidden" name="hidden-like" value="add-like" />
                                }
                            </div>

                            <div class="comment-form">
                                <!--Form for new comment-->
                                @using (Html.BeginForm("NewsfeedGroups", "Home", FormMethod.Post))
                                {
                                    <input type="hidden" name="hidden-groupId" value="@Model.GroupWithId.Id" />
                                    <input type="hidden" name="hidden-postId" value="@post.Id" />

                                    <div class="comment">
                                        <textarea rows="2" cols="80" name="comment-input" class="comment-textarea" placeholder="What do you think?"></textarea>
                                        <input type="submit" value="Send" class="submit-comment" />
                                    </div>
                                }

                                <!--Display top 25 comments for post-->
                                @{List<Comment> commentsForPost = SozialWebApplication.Services.PostService.Instance.GetAllCommentsForPost(post.Id);}

                                @foreach (var comment in commentsForPost)
                                {
                                    <div class="CommentDisplayParent">
                                        <div class="CommentDisplay">

                                            <div class="comment-post-name">
                                                <p>@comment.UserName</p>
                                            </div>
                                            <div class="comment-post-date">
                                                <p>@comment.DateCreated</p>
                                            </div>
                                            <p>@comment.Body</p>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                }
        </div> <!--feed-body-->
    </div> <!--overflowceeper-->
    <br />
    </div>
</div>
