@model SozialWebApplication.Models.ViewModels.GroupViewModel
@{if (Model.GroupWithId.Id == 0)
  {
    <p>News Feed</p>  
  }
  else
  {
      <p>@Model.GroupWithId.GroupName</p>
  }
  }
<!--Posting-->
@using (Html.BeginForm("NewsfeedGroups", "Home", FormMethod.Post))
{
    <div class="newsfeed">
        <div class="post">
            <div class="post-img">
                <input type="button" class="input-text" />
                <input type="button" class="input-img" />
                <input type="button" class="input-youtube" />
            </div>

            <input type="text" name="post-input" id="post-input" class="post-input" placeholder="Express yourself..." />
        </div>
    </div>
    <input type="submit" value="post" class="post-submit" />
}

<div class="all-posts">
    @foreach (var item in Model.GroupPosts)
    {
        <p class="post-name">@item.UserName</p>
        <p class="post-date">@item.DateCreated</p>
        <div class="each-post">
            <div class="post-content">
                <p>@item.Body</p>
            </div>
            <div class="like">
                <input type="button" class="like-img" />
                <p>@item.Like</p>
            </div>
        <p class="post-comment">Comment</p>
        </div>
    }
    


    

</div>


