@model SozialWebApplication.Models.ViewModels.NameCardViewModel

<div class="bc">
    @{
        ViewBag.Title = "Banner";
    }

    <br />
    
    <div class="namecard-button">
        <a href="/Home/NewsfeedGroups/111">
            <img src="/Myndir/logo.jpg" class="name-logo" alt="name-logo" />
        </a>

        <div class="my-name">
            @Html.ActionLink(@Html.ViewContext.HttpContext.User.Identity.Name, "OwnNameCard", "NameCards")
        </div>

        @using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = "/Account/Login" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Log Out" class="logout-button" />
            </div>
        }

    </div>

    <br />

    <div class="overflowceeper">
        <div class="feed-body">

            <div class="add-and-search">

                <!-- Adding -->
                @using (Html.BeginForm("AddNewGroup", "Home", FormMethod.Post))
                {
                    <div class="adding-groups">
                        <input type="text" id="newgroup-name" name="newgroup-name" class="addnewgroup-box" placeholder="Group name..." />

                        <div class="adding-groups-button">
                            <input type="submit" value="Create group" name="submit" class="addnewgroup-button" />
                        </div>
                    </div>
                }

                <!-- Searching -->
                @using (Html.BeginForm("SearchGroups", "Home", FormMethod.Post))
                {
                    <div class="searching-groups">
                        <input type="text" id="search" name="search" class="search-groups-box" placeholder="Search ..." />

                        <div class="searching-groups-button">
                            <a href="SearchGroups"><input type="submit" value="" name="submit" class="search-groups-button" /></a>
                        </div>
                    </div>
                }

            </div>

            <table class="groups-lists">
                <thead class="groups-labels">
                    <tr>
                        <th class="my-groups-label">My Groups</th>
                    </tr> 
                </thead>
                <tbody>
                        <!-- My Groups -->
                        @foreach (var item in Model.AllUserGroups)
                        {
                            if (item.GroupName != null)
                            {   
                                <tr>
                                    <td class="my-groups-list">@Html.ActionLink(item.GroupName, "NewsfeedGroups", "Home", new { id = item.Id }, null) </td>
                                </tr>
                            }
                        }
                 </tbody>
            </table>

            <table class="groups-lists">
                <thead class="groups-labels">
                    <tr>
                        <th class="all-groups-label">All Groups</th>
                    </tr>
                </thead>
                <tbody>
                        <!-- All groups -->
                        @foreach (var item in Model.AllGroups)
                        {
                            if (item.GroupName != null)
                            {   
                                <tr>
                                    <td class="all-groups-list">@Html.ActionLink(item.GroupName, "NewsfeedGroups", "Home", new { id = item.Id }, null) </td>
                                </tr>
                            }
                        } 
                </tbody>
            </table>

            <table class="groups-lists">
                <thead class="groups-labels">
                    <tr>
                        <th class="search-groups-label">Search results</th>
                    </tr>
                </thead>
                <tbody>
                        <!-- Search groups -->
                        @if (Model.SearchResultsGroups.Count() == 0)
                        {
                        }

                        else
                        {
                            foreach (var item in Model.SearchResultsGroups)
                            {
                                if (item.GroupName != null)
                                {  
                                    <tr>
                                        <td class="search-groups-list">@Html.ActionLink(item.GroupName, "NewsfeedGroups", "Home", new { id = item.Id }, null) </td>
                                    </tr>
                                }
                            }
                        }
                </tbody>
            </table>

        </div> <!--feed-body-->
    </div> <!--overflowceeper-->
    <br />
</div>

