@using SozialWebApplication.Services
@model SozialWebApplication.Models.ViewModels.NameCardViewModel

<div class="bc">
    @{
        ViewBag.Title = "Sozial";
    }

    <br />

    <div class="namecard-button">
        <a href="/Home/NewsfeedGroups/1">
            <img src="/Myndir/Logo.jpg" class="name-logo" alt="name-logo" />
        </a>

        <div class="my-name">
            @Html.ActionLink(@Html.ViewContext.HttpContext.User.Identity.Name, "OwnNameCard", "NameCards")
        </div>

        @using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = "/Account/Login" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Log Out" class="logout-button" />
            </div>
        }

    </div>

    <br />

    <div class="overflowceeper">
        <div class="feed-body">
            <div>

                <div class="others-photo">
                    <img src="@Model.userWithId.ProfilePicture" alt="Profile picture">
                </div>

                <div class="others-namecard-buttons">

                    @using (Html.BeginForm("OthersNameCard", "NameCards", FormMethod.Post))
                    {
                        if (SozialWebApplication.Services.UserService.Instance.IsFollowing(User.Identity.Name, Model.userWithId.UserName))
                        {
                            <input type="hidden" name="hidden-othersUserName" value="@Model.userWithId.UserName" />
                            <input type="hidden" name="hidden-follow-unfollow" value="unfollow" />
                            <a href="OthersNameCard"><input type="submit" value="" class="unfollow-others" /></a>
                        }

                        else
                        {
                            <input type="hidden" name="hidden-othersUserName" value="@Model.userWithId.UserName" />
                            <input type="hidden" name="hidden-follow-unfollow" value="follow" />
                            <a href="OthersNameCard"><input type="submit" value="" class="follow-others" /></a>
                        }
                    }

                    @using (Html.BeginForm("OthersNameCard", "NameCards", FormMethod.Post))
                    {
                        if (SozialWebApplication.Services.UserService.Instance.IsSingleMatch(User.Identity.Name, Model.userWithId.UserName))
                        {
                            <input type="hidden" name="hidden-othersUserName" value="@Model.userWithId.UserName" />
                            <input type="hidden" name="hidden-match-unmatch" value="unmatch" />
                            <a href="OthersNameCard"><input type="submit" value="" class="unmatch-others" /></a>
                        }

                        else
                        {
                            <input type="hidden" name="hidden-othersUserName" value="@Model.userWithId.UserName" />
                            <input type="hidden" name="hidden-match-unmatch" value="match" />
                            <a href="OthersNameCard"><input type="submit" value="" class="match-others" /></a>
                        }
                    }
                </div>

                <div class="others-information"> 
                    @if(String.IsNullOrEmpty(Model.userWithId.FullName))
                    {
                       <p>@Html.DisplayFor(model => model.userWithId.UserName)</p>
                    }
                    
                    else
                    {
                       <p>@Html.DisplayFor(model => model.userWithId.FullName)</p> 
                    }

                    <p>@Html.DisplayFor(model => model.userWithId.LineOfStudy)</p>
                    
                    <div class="send-email">
                        <a href="mailto:@Html.DisplayFor(model => model.userWithId.Email)">@Html.DisplayFor(model => model.userWithId.Email)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

</div>
