@model SozialWebApplication.Models.ViewModels.NameCardViewModel

<div class="bc">
    @{
        ViewBag.Title = "Banner";
    }

    <br />

    <div class="namecard-button">
        <a href="/Home/NewsfeedGroups/1">
            <img src="/Myndir/logo.jpg" class="name-logo" alt="name-logo" />
        </a>

        <div class="my-name">
            @Html.ActionLink(@Html.ViewContext.HttpContext.User.Identity.Name, "OwnNameCard", "NameCards")
        </div>

        @using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = "/Account/Login" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Log Out" class="logout-button" />
            </div>
        }
    </div>

    <br />

    <div class="overflowceeper">
        <div class="feed-body">

            <!-- Search -->
            @using (Html.BeginForm("Search", "NameCards", FormMethod.Post))
            {
                <div class="searching-users">
                    <input type="text" id="search" name="search" class="search-users-box" placeholder="Search ..." />
                    
                    <div class="searching-users-button">
                        <a href="SearchGroups"><input type="submit" value=" " name="submit" class="search-users-button" /></a>
                    </div>
                </div>
            }

            <!-- My friends -->
            <table class="users-lists">
                <thead class="users-labels">
                    <tr>
                        <th class="my-friends-label">All my friends</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- div class="my-followers" -->
                    @foreach (var item in Model.AllFollowing)
                    {
                        if (item.FullName != null)
                        {
                            <tr>
                                <td class="my-friends-list">@Html.ActionLink(item.FullName, "OthersNameCard", "NameCards", new { id = item.Id }, null) </td>
                            </tr>
                        }
                        
                        else
                        {
                            <tr>
                                <td class="my-friends-list">@Html.ActionLink(item.UserName, "OthersNameCard", "NameCards", new { id = item.Id }, null) </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <!-- All users -->
            <table class="users-lists">
                <thead class="users-labels">
                    <tr>
                        <th class="all-users-label">All users</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- div class="all-followers" -->
                    @foreach (var item in Model.AllUsers)
                    {
                        if (item.FullName != null)
                        {
                            <tr>
                                <td class="all-users-list">@Html.ActionLink(item.FullName, "OthersNameCard", "NameCards", new { id = item.Id }, null) </td>
                            </tr>
                        }

                        else
                        {
                            <tr>
                                <td class="all-users-list">@Html.ActionLink(item.UserName, "OthersNameCard", "NameCards", new { id = item.Id }, null) </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <!-- Search list -->
            <table class="users-lists">
                <thead class="users-labels">
                    <tr>
                        <th class="search-users-label">Search results</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- div class="search-followers" -->
                        @if (Model.SearchResultsUsers.Count() == 0)
                        {
                        }
                         
                        else
                        {
                            foreach (var item in Model.SearchResultsUsers)
                            {
                                if (item.FullName != null)
                                {
                                    <tr>
                                        <td class="search-users-list">@Html.ActionLink(item.FullName, "OthersNameCard", "NameCards", new { id = item.Id }, null) </td>
                                    </tr>
                                }
                            
                                else
                                {
                                    <tr>
                                        <td class="search-users-list">@Html.ActionLink(item.UserName, "OthersNameCard", "NameCards", new { id = item.Id }, null) </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
            </table>
        </div> <!-- feed-body-->
      </div> <!-- overflowceeper-->
      <br />
</div> <!-- bc-->

