@model SozialWebApplication.Models.ViewModels.NameCardViewModel
@using (Html.BeginForm("Search", "NameCards", FormMethod.Post))
{
    <div class="searching">
        <input type="text" id="search" name="search" class="search" placeholder="Search ..." />
        <div class="button">
            <a href="SearchGroups"><input type="submit" value=" " name="submit" class="search-button" /></a>
        </div>
    </div>
    
}  
<div class="all-users">
<h4 class="all-users-label">All users </h4>
    <dl>
        @foreach (var item in Model.AllUsers)
        {
            if (item.FullName != null)
            {
               <dt class="all-users-list">@Html.ActionLink(item.FullName, "OthersNameCard", "NameCards", new { id = item.Id }, null) </dt>
            }
            else
            {
                <dt class="all-users-list">@Html.ActionLink(item.UserName, "OthersNameCard", "NameCards", new { id = item.Id }, null) </dt>
            }
        }
    </dl>

<h4 class="my-friends-label">All my friends</h4>
<dl>
    @foreach (var item in Model.AllFollowing)
    {
        if (item.FullName != null)
        {
            <dt class="my-friends-list">@Html.ActionLink(item.FullName, "OthersNameCard", "NameCards", new { id = item.Id }, null); </dt>
        }
        else
        {
            <dt class="my-friends-list">@Html.ActionLink(item.UserName, "OthersNameCard", "NameCards", new { id = item.Id }, null); </dt>
        }
    }
</dl>

<h4 class="search-users-label">Search results</h4>
    <dl>
        @if (Model.SearchResultsUsers.Count() == 0)
        {
        }
        else
        {
            foreach (var item in Model.SearchResultsUsers)
            {
                if (item.FullName != null)
                {
                <dt class="search-results-list">@Html.ActionLink(item.FullName, "OthersNameCard", "NameCards", new { id = item.Id }, null) </dt>
                }
                else
                {
                    <dt class="search-results-list">@Html.ActionLink(item.UserName, "OthersNameCard", "NameCards", new { id = item.Id }, null) </dt>
                }
            }
        }
   </dl>
</div>